body{
	background-color: green;
}

.contenedor{
	border: 10px solid #000;
	background-color: #fff;
	margin: 50px;
	width: 500px;
	height: 1000px;
	/*FlexBox*/
	display: flex;
	/*flex-direction: column-reverse;*/

	/*flex-wrap: wrap;*/

	/*flex-flow: column wrap;*/

	/*justify-content: center;*/ 
	
	

}

.elementos{
	background-color: #bab4b4;
	margin: 5px;
	color: white;
	text-align: center;
	width: 50px;
	height: 50px;

}

